<footer class="border-top footer text-muted mt-5">
    <div class="container text-center py-3">

        <small>
            © @DateTime.UtcNow.Year — IntraFlow
            | Internal Workflow System
        </small>

    </div>
</footer>